body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide1 {
    /* Center and scale the image nicely */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}